spring.application.name=demo
spring.data.mongodb.uri=mongodb-connection-url
spring.data.mongodb.database=database-name

icurff.app.jwtSecret=mysecret
icurff.app.jwtExpirationMs=86400000
icurff.app.tokenExprirationSec=300  

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your-email
spring.mail.password=your-google-application-password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

logging.level.org.springframework.security=DEBUG
